@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
:root.light {
	--background: #fefefe;
	--foreground: #333333;
}

:root.dark {
	--background: #333333;
	--foreground: #fefefe;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #333333;
		--foreground: #fefefe;
	}
}
body {
	font-family:
		Lato,
		"Noto Sans JP",
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		Fira Sans,
		Helvetica Neue,
		sans-serif;
}

svg[data-prefix*="fa"] {
	width: 1em;
	display: inline-block;
}
